{% extends "posApp/base.html" %}
{% load humanize %}

{% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card with-background-image">
        <div class="d-flex justify-content-between">
            <h1 class="card-title mb-0">.</h1>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
    <div class="mdc-card info-card info-card--secondary with-border rounded">
        <div class="card-inner">
            <h5 class="card-title">Today's Sales</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ total_sale.grand_total|intcomma }}</h5>
            <p class="tx-12 text-muted">Today's Sales</p>
            <div class="card-icon-wrapper">
                <i class="material-icons">receipt</i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
    <div class="mdc-card info-card info-card--info with-borders rounded">
        <div class="card-inner">
            <h5 class="card-title">Monthly Sales</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ total_monthly_sales|intcomma }}</h5>
            <p class="tx-12 text-muted">Your Monthly Sales</p>
            <div class="card-icon-wrapper">
                <i class="material-icons">receipt</i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
    <div class="mdc-card info-card info-card--success with-borders rounded" style="border-color: #003049;">
        <div class="card-inner">
            <h5 class="card-title">Daily Expenses</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ total_daily_expenses|intcomma }}</h5>
            <p class="tx-12 text-muted">Today's Expenses</p>
            <div class="card-icon-wrapper">
                <i class="material-icons">payment</i>
            </div>
        </div>
    </div>
</div>

<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
    <div class="mdc-card info-card info-card--dark with-borders rounded"  style="border-color: #7c73e6;">
        <div class="card-inner">
            <h5 class="card-title">Monthly Expenses</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ total_monthly_expenses|intcomma }}</h5>
            <p class="tx-12 text-muted"> Your Monthly Expenses</p>
            <div class="card-icon-wrapper">
                <i class="material-icons">payment</i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
    <div class="mdc-card rounded">
        <div class="card-inner">
            <h5 class="card-title">Today's Sales Pie Chart</h5>
            <canvas id="todaySalesPieChart"></canvas>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
    <div class="mdc-card rounded">
        <div class="card-inner">
            <h5 class="card-title">Daily Expenses Pie Chart</h5>
            <canvas id="dailyPieChart"></canvas>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
    <div class="mdc-card rounded">
        <div class="card-inner">
            <h5 class="card-title">Monthly Expenses Pie Chart</h5>
            <canvas id="monthlyPieChart"></canvas>
        </div>
    </div>
</div>
{% endblock pageContent %}

{% block ScriptBlock %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // Extract data from Django template and remove commas for parsing as floats
    var totalTodaySales = parseFloat("{{ total_sale.grand_total|intcomma }}".replace(/,/g, ''));
    var totalMonthlySales = parseFloat("{{ total_monthly_sales|intcomma }}".replace(/,/g, ''));
    var totalDailyExpenses = parseFloat("{{ total_daily_expenses|intcomma }}".replace(/,/g, ''));
    var totalMonthlyExpenses = parseFloat("{{ total_monthly_expenses|intcomma }}".replace(/,/g, ''));

    var todaySalesData = {
        labels: ["Today's Sales", "Monthly Sales"],
        datasets: [{
            data: [totalTodaySales, totalMonthlySales],
            backgroundColor: ["#FFC107", "#FFE082"],
        }]
    };

    var dailyExpensesData = {
        labels: ["Daily Expenses", "Remaining"],
        datasets: [{
            data: [totalDailyExpenses, 0], // Assuming you want the remaining amount in the pie chart
            backgroundColor: ["#5C5470", "#B9B4C7"],
        }]
    };

    var monthlyExpensesData = {
        labels: ["Monthly Expenses", "Remaining"],
        datasets: [{
            data: [totalMonthlyExpenses, 0], // Assuming you want the remaining amount in the pie chart
            backgroundColor: ["#9EB384", "#D4E2D4"],
        }]
    };

    var todaySalesPieChartCanvas = document.getElementById("todaySalesPieChart").getContext("2d");
    var dailyPieChartCanvas = document.getElementById("dailyPieChart").getContext("2d");
    var monthlyPieChartCanvas = document.getElementById("monthlyPieChart").getContext("2d");

    var todaySalesPieChart = new Chart(todaySalesPieChartCanvas, {
        type: "pie",
        data: todaySalesData,
    });

    var dailyPieChart = new Chart(dailyPieChartCanvas, {
        type: "pie",
        data: dailyExpensesData,
    });

    var monthlyPieChart = new Chart(monthlyPieChartCanvas, {
        type: "pie",
        data: monthlyExpensesData,
    });
</script>
{% endblock ScriptBlock %}
